
<h1>Spots</h1>

<ul>
  <% @spots.each do |spot| %>
    <li><%= link_to spot.name, spot_path(spot) %></li>
  <% end %>
</ul>
<h1>Map to go on this page!</h1>
<div id="map"
     style="width: 600px; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>