// Specific CSS for your home-page
.btn-home {
    margin: 7px 5px;
}

@media(max-width: 992px) {
    .form-inline {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
}

@media(max-width: 768px) {
    .form-inline {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
}