.profile-description-box {
    margin-top: 80px;
    margin-bottom: 10px;
}

.favourites-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 30px 0;
}

.heart-red a {
    color: $shaka-red;
    font-size: 22px;
    margin-left: 5px;
}

.profile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.btn-profile {
    margin-right: 15px;
    padding: 20px;
}

.container {
    box-shadow: grey ;
}

.saved-spots {
    margin: 30px 0;
}
.card-spot {
    display: grid;
}

.description-box {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.spot-links {
    margin: 10px 0;
}

.cards {
    display: grid;
    grid-gap: 16px;
    margin-top: 100px;
    margin-bottom: 30px;
    overflow: hidden;
}

.card {
    padding: 25px;
}

.image-placeholder {
    display: flex;
    width: 1110px;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
    filter: grayscale(100%);
}

.card-sm {
    display: flex;
    justify-content: space-between;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 16px 0;
    padding: 16px 0;
}

.review {
    overflow: hidden;
    max-width: 350px;
    display: none;
}

.head-review {
    display: flex;
}

.user-desc {
    margin-left: 5px;
}

.rating-review {
    color: #FFDE59;
    opacity: .9;
}

.amenities-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 16px 0;
    padding: 16px 0;
}

.amenity {
    overflow: hidden;
}

#trash-btn {
    opacity: .5;
}

#kit-rental {
    width: 20px;
}

.kit-rental {
    width: 25px;
}