.profile-description-box {
    margin-top: 80px;
    margin-bottom: 10px;
}

.favourites-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 16px 0;
}

.heart-red a {
    color: $shaka-red;
    font-size: 22px;
    margin-left: 5px;
}

.profile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.btn-profile {
    margin-right: 15px;
}

.container {
    box-shadow: grey ;
}

.card-spot {
    display: grid;
}

.description-box {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.spot-links {
    margin: 10px 0;
}

.cards {
    display: grid;
    grid-gap: 16px;
    margin-top: 100px;
    margin-bottom: 30px;
    overflow: hidden;
}

.card {
    padding: 16px;
}

.image-placeholder {
    display: flex;
    width: 1110px;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
    filter: grayscale(100%);
}

