<div class="banner">
  <div class="container">
    <h1>Shaka</h1>
    <p>Let’s find the best spots for wind sports based on you</p>
    <%= link_to "Start now", new_user_registration_path, class: "btn btn-danger" %>
  </div>
</div>
