.card-favourites {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 350px;
    transition-duration: 0.5s;
}

.card-favourites:hover {
    cursor: pointer;
    box-shadow: 0 0 35px rgba(0,0,0,0.4);
    transition-duration: 0.5s;
    text-decoration: none;
}
  
.card-favourites > img {
    height: 250px;
    width: 350px;
}
  
.card-favourites h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
  
.card-favourites p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
}

.card-favourites a {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
  
.card-favourites .card-fav-infos {
    padding: 16px;
    position: relative;
}
