.form-login {
    background: white;
    width: 25%;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 76px;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    h2 {
      font-size: 25px;
      font-weight: bold;
      margin: 20px;
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-bottom: 20px
    }
}

.form-row {
  margin-right: 0;
}
.spot-form {
    background: white;
    width: 450px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    left: 50%;
    h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-bottom: 20px
    }
}

.reviews-form {
  width: 300px;
}

.amenities-form {
  width: 300px;
}